</body>
<footer class="mt-auto text-white-50 align-bottom ">
  <p class="text-center p-3">
    © 2021 all rights reserved by 
    <!-- <a
    href="https://www.linkedin.com/in/rashisingh99b3331aa/"
    class="text-black">Rashi Singh</a> -->
    <a
    href="https://www.linkedin.com/in/sanchit-k-09a172199/"
    class="text-black">Sanchit Kalsi</a>
  </p>
  
</footer>
</html>
