</body>
<footer class="mt-auto text-white-50 align-bottom ">
  <p class="text-center p-3">
    © 2021 all rights reserved by 
    <a
    href="https://www.linkedin.com/in/sanchit-k-09a172199/"
    class="text-black">Sanchit Kalsi a.k.a. darksoul26</a>
  </p>
  
</footer>
</html>
