

</body>
<footer class="mt-auto text-white-50 align-bottom ">
  <p class="text-center p-3">
    Developed By
    <a
      href="https://www.linkedin.com/in/rashi-singh-99b3331aa/"
      class="text-black"
      >Rashi</a>
    and
    <a
      href="https://www.linkedin.com/in/sanchit-k-09a172199/"
      class="text-black"
      >Sanchit</a
    >
  </p>
</footer>
</html>
