<!-- HEADER FILES INCLUDED -->
<%- include('partials/header') %>

<div class="text-center">
    <h1 class="mt-3"><strong>ABOUT US</strong></h1>
    <div>
        <p class="lead p-3 "><strong>“Service of oppressed humanity is service of the almighty”</strong></p>
        <p class="lead p-4 ">
        Each life we save & improve will be an inspiration for others and will end up saving multiple other lives. Raksha
        envisages a world in which each individual is Empowered enough to not only take care of himself but also others who need
        support around him. We are working towards the development of the society and enrichment of each individual. According
        to us , We Feel We People are the main source towards contributing to organization by helping the needy people get their
        shelter.
</p>

        <!-- IMAGE OF HAPPY CHILDREN -->
        <img class="aboutimage" src="images/2.jpg" alt="">
    </div>
</div>

<!-- FOOTER FILES INCLUDED -->
<%- include('partials/footer') %>