<!-- HEADER FILES INCLUDED -->
<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <!-- YOU HELP WE DO -->
    <img src="images/love.png" height="200" alt="Love towards all">
    <h1 class="display-3">Thank you For Your Help, we will contact you for continuing your transaction</h1>
    <hr />

    <!-- LOGOUT AND VISIT THE HOME SCREEN -->
    <a class="btn btn-light btn-lg m-3" href="/logout" role="button">Log Out</a>
  </div>
</div>

<!-- FOOTER FILES INCLUDED -->
<%- include('partials/footer') %>
