<!-- HEADER FILES INCLUDED -->
<%- include('partials/header') %>
  <div class="text-center">

    <!-- login and register -->
    <div class="container">
      <p class="lead m-3"><i>“No one has ever become poor by giving.”</i></p>
      <hr />
      <a class="btn btn-outline-dark btn-lg" href="/helpWorld" role="button">Global Contibution</a>
    </div>
    <!-- OUR NGO  -->
    <h1 class="mt-3 raksha"><strong>RAKSHA</strong></h1>
    </div>

  <!-- WHAT WE DO -->
  <p class="lead p-5 ">
    Raksha is our web application where we help the needy and NGO's . We are bridging the gap between the them and helping
    NGO's for a better reach. Each life we save & improve will be an inspiration for others and will end up saving multiple
    other lives. Raksha envisages a world in which each individual is Empowered enough to not only take care of himself but
    also others who need support around him. aims to provide shelter to destitute, abandoned, underprivileged , disabled,
    mentally week Children & Women and Senior Citizens of our society, regardless of their religion, caste or social status.
    Raksha will focus on the basic needs of these individuals and provide education, healthcare and vocational skills
    necessary to transform them into responsible citizens of our society.
  </p>
  </div>

  <!-- THE PEOPLE WHO ARE HAPPY BY OUR WORK (USING CAROUSEL) -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="background-color: #e5e5e5;>
      <ol class=" carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active text-center p-4">
        <img class="w-50" src="images/4.jpg" alt="First slide">
      </div>
      <div class="carousel-item text-center p-4">
        <img class="w-50" src="images/5.jpg" alt="Second slide">
      </div>
      <div class="carousel-item text-center p-4">
        <img class="w-50" src="images/6.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev bg-dark" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next bg-dark" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- DONATE FOR A CAUSE (BUTTON ROUTE TO DONATE PAGE) -->
  <div class="text-center m-2">
  <p class="lead"><i><h5>
      The value of life is not in its duration, but in its donation. You are not important because of how long you live, you
      are important because of how effective you live.</h5></i>
    </p>

    <p class="lead">
      <a href="/submit" class="btn btn-lg btn-secondary fw-bold border-white bg-black  mt-2">Donate Now</a>
    </p>
  </div>

<!-- FOOTER FILES INCLUDED -->
<%- include('partials/footer') %>
